.array-container {
  position: sticky;
  center: 0px;
  top:200px;
  margin:4px;
  padding: 5px;
  
  /* top: 100px; left:100px;*/
}

.array-container2 {
  position: relative;
  top:20px;
  margin: 2px;
  padding: 1px;
  /* top: 100px; left:100px;*/
}

.array-bar {
  width: 3.3px;
  display: inline-block;
  margin: 0 0.5px;
}
